body {
    font-family: 'calibri', sans-serif;
    font-size: 13pt;
    background-color: #d9f1f7;    
    justify-content: center;      
    margin: 0;
}

*{
    text-decoration: none;
}

h1 {
    color:rgb(25, 37, 51);
    margin-left: 10pt;
}

h2 {
    color:rgb(39, 47, 65);
    margin-left: 10pt;
}

h3 {
    color:#3f3f50;
    margin-left: 10pt;
}

p, ol, ul {
    margin-left: 10pt;
}
/* style of the image with transition */
.clickable-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 300px;
    transition: width 0.3s ease;
}
/* size of the image when enlarged (clicked) */
.enlarged {
    width: 600px;;
}
/* style of navbar */
.navBar{
    background:#2c4062; 
    font-family: 'Tahoma', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 32px;
    color: white;
}

.navDiv li{
    list-style: none;
    display: inline-block;
}

.navDiv li a{
    color: white;
    font-size: 20px;
    margin-right: 25px;
}

#aboutMe-p{
    text-align: center;
}
/* style of table */
.table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 60%;
    border-collapse: collapse;
    font-family: 'calibri', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: #2c4062;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}

td {
    color: #333;
}

.table a{
    text-decoration: none;
    color:rgb(100, 137, 194);
}

.table a:hover{
    text-decoration: underline;
}

#formh2{
    text-align: center;
}
/* style of form */
  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#surveyForm label, #surveyForm p{
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #284aa7;
    color: #ffffff;
    margin-right: 10px;
}

button[type="reset"] {
    background-color: #a8a7c9;
    color: #ffffff;
}
/* style of footer */
footer {
    bottom: 0;
    width: 100%;
    background-color: #2c4062;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Tahoma', sans-serif;
    font-size: 12px;
}

footer p {
    margin: 0;
    margin-top: auto;
}

footer a {
    color: #666666;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}