body {
    font-family: 'calibri', sans-serif;
    font-size: 13pt;
    background-color: #d9f1f7;
    margin:0px;
}

*{
    text-decoration: none;
}

h1 {
    color:rgb(25, 37, 51);
    margin-left: 10pt;
}

h2 {
    color:rgb(39, 47, 65);
    margin-left: 10pt;
}

h3 {
    color:#3f3f50;
    margin-left: 10pt;
}

p, ol, ul {
    margin-left: 10pt;
}

button{
    background-color: #61b4ce;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left:10pt;
}

img{
    margin-bottom: 5px;
    margin-left: 10pt;
}

.navBar{
    background:#2c4062; 
    font-family: 'Tahoma', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navDiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 32px;
    color: white;
}

.navDiv li{
    list-style: none;
    display: inline-block;
}

.navDiv li a{
    color: white;
    font-size: 20px;
    margin-right: 25px;
}

table, td, th {  
    border: 2px solid #2a293f;
    text-align: middle;
    margin-left: 10px;
  }
  
  table {
    border-collapse: collapse;
    text-align: middle;
  }
  
  th, td {
    padding: 8px;
  }

  #education input{
    margin-left: 15px;
  }

  #websites input{
    margin-left: 15px;
  }

  #myform textarea{
    margin-left: 10px;
  }

  #submit{
    margin-left: 10px;
    margin-bottom:8px;
  }